<table>
  <% @traders.each do |trader| %>
    <tr>
      <td><%= link_to trader.email, admin_trader_path(trader) %></td>
      <td><%= trader.created_at %></td>
      <td><%= trader.confirmed_at %></td>
      <td><%= trader.approved_at %></td>
    </tr>
  <% end %>
</table>
