%table
  %tr
    %td Email
    %td= @trader.email
  %tr
    %td Signed Up At
    %td= @trader.created_at
  %tr
    %td Confirmed At
    %td= @trader.confirmed_at
  %tr
    %td Approved At
    %td= @trader.confirmed_at
