<table>
  <tr>
    <td>Email</td>
    <td><%= @trader.email %></td>
  </tr>
  <tr>
    <td>Signed Up At</td>
    <td><%= @trader.created_at %></td>
  </tr>
  <tr>
    <td>Confirmed At</td>
    <td><%= @trader.confirmed_at %></td>
  </tr>
  <tr>
    <td>Approved At</td>
    <td><%= @trader.confirmed_at %></td>
  </tr>
</table>